* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open sans", sans-serif;
}

body {
  background-color: #f3f3f3;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.paraliza-body {
  overflow: hidden;
}

.cabecalho-branco {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px #00aaff;
}

.container-cabecalho {
  width: 100%;
  padding: 6px 12px;
  position: fixed;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cabecalho .content-logo-btn-menu .logo {
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .logo a {
  display: block;
  width: 100px;
  height: 30px;
  background: url(../../img/sistema/logo-claro.png);
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
}
.container-cabecalho .content-logo-btn-menu .logo-escuro a {
  display: block;
  width: 100px;
  height: 30px;
  background: url(../../img/sistema/logo-escuro.png);
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
}
.container-cabecalho .content-logo-btn-menu .btn-menu {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  transition: 0.3s;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-escuro .linha-btn {
  background-color: #2e5678;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto {
  justify-content: center;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-2 {
  margin-top: -4px;
  transform: translateX(-100%);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-1 {
  transform: rotate(45deg);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-3 {
  margin-top: -4px;
  transform: rotate(-45deg);
}

.content-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  left: -100%;
}
.content-menu .menu-principal {
  width: 270px;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(-50%);
  transition: 0.5s;
  overflow: hidden;
}
.content-menu .menu-principal .ul-items-menu {
  width: 100%;
  border-top: 1px solid #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
.content-menu .menu-principal .ul-items-menu li.item {
  width: 100%;
}
.content-menu .menu-principal .ul-items-menu li.item a {
  width: 100%;
  display: block;
  padding: 5px 30px;
  font-size: 0.9em;
  color: #333333;
}
.content-menu .menu-principal .ul-items-menu li.item:hover a {
  color: #FFFFFF;
  background-color: #2e5678;
}
.content-menu .menu-principal .ul-items-midias {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content-menu .menu-principal .ul-items-midias li.item-midia {
  flex: 1;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon {
  display: block;
  text-align: center;
  font-size: 1.4em;
  padding: 5px 0;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon:hover {
  background-color: #eee;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon-facebook {
  color: #4164ac;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon-instagram {
  color: #f24d57;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon-whatsapp {
  color: #00e676;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon-github {
  color: #444;
}

.content-menu-aberto {
  top: 0;
  left: 0;
  transition: 0.3s;
}
.content-menu-aberto .menu-principal {
  transform: translateX(0);
  transition: 0.6s;
}
.content-menu-aberto .btn-menu {
  transition: 0.3s;
}

@media screen and (min-width: 990px) {
  .cabecalho-branco .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #333333;
  }

  .container-cabecalho .content-logo-btn-menu .btn-menu {
    display: none;
  }

  .content-menu {
    height: 100%;
    width: auto;
    position: relative;
    left: inherit;
    background-color: inherit;
    transition: none;
  }
  .content-menu .menu-principal {
    width: auto;
    background-color: transparent;
    transform: none;
    padding: 0;
    transition: none;
  }
  .content-menu .menu-principal .ul-items-menu {
    padding: 0;
    height: 100%;
    flex-direction: row;
    border: none;
  }
  .content-menu .menu-principal .ul-items-menu li.item {
    width: auto;
  }
  .content-menu .menu-principal .ul-items-menu li.item a {
    color: #FFFFFF;
  }
  .content-menu .menu-principal .ul-items-menu li.item:hover a {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
  }
  .content-menu .menu-principal .ul-items-midias {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .container-cabecalho {
    padding: 6px 10%;
  }
}
.section-home {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-home/fim-section-home;
  position: relative;
}
.section-home .background-section-home {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  background-attachment: fixed;
  top: 0;
  left: 0;
}
.section-home .background-section-home .box-titles-btn-acao {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-home .background-section-home .box-titles-btn-acao .titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.section-home .background-section-home .box-titles-btn-acao .titles .title {
  color: #FFF;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 35px;
}
.section-home .background-section-home .box-titles-btn-acao .titles .subtitle {
  color: #FFF;
  padding: 0 40px;
  text-align: center;
}
.section-home .background-section-home .box-titles-btn-acao .btn-acao {
  flex: 1;
  display: flex;
  align-items: center;
}
.section-home .background-section-home .box-titles-btn-acao .btn-acao button {
  border: none;
  border-radius: 20px;
  overflow: hidden;
}
.section-home .background-section-home .box-titles-btn-acao .btn-acao button a.btn-orcamento {
  background-color: #00aaff;
  color: #FFF;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
}
.section-home .background-section-home .box-titles-btn-acao .btn-acao button a.btn-orcamento:hover {
  border: 1px solid #FFF;
  border-radius: 20px;
}

.section-servicos {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-servicos/fim-section-servicos;
}
.section-servicos .servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-servicos .servicos .servico {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.1);
  padding: 20px 12px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.section-servicos .servicos .servico .box-icon-servico {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.section-servicos .servicos .servico .box-icon-servico .icon-servico {
  width: 120px;
  height: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-servicos .servicos .servico .box-infos-servico {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-servicos .servicos .servico .box-infos-servico .title-servico {
  text-align: center;
  color: #2e5678;
  margin-bottom: 15px;
}
.section-servicos .servicos .servico .box-infos-servico .descricao-servico {
  text-align: center;
  color: #596f81;
}

@media screen and (min-width: 740px) {
  .section-servicos .servicos {
    flex-direction: row;
    justify-content: space-between;
  }
  .section-servicos .servicos .servico {
    width: 30%;
  }
}
.section-projetos {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-projetos/fim-section-projetos;
}
.section-projetos .projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-projetos .projetos .projeto {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.1);
  transform: translateY(30%);
  opacity: 0.5;
  transition: 1s;
}
.section-projetos .projetos .projeto .header-projeto {
  width: 100%;
  background: #FFF;
}
.section-projetos .projetos .projeto .header-projeto .title-projeto {
  text-align: center;
  color: #444;
  font-size: 0.9em;
  padding: 5px;
}
.section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .item {
  height: 220px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .owl-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .owl-dots .owl-dot span {
  background-color: rgba(0, 170, 255, 0.534);
}
.section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .owl-dots .active span {
  background-color: #0af;
}
.section-projetos .projetos .projeto .footer-projeto {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section-projetos .projetos .projeto .footer-projeto .btn-expande-footer {
  width: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
}
.section-projetos .projetos .projeto .footer-projeto .btn-expande-footer .icon {
  color: #ccc;
  padding: 8px;
  transition: 0.3s;
}
.section-projetos .projetos .projeto .footer-projeto .infos-projeto {
  max-height: 0;
  transition: 0.3s;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
}
.section-projetos .projetos .projeto .footer-projeto .infos-projeto .small-description {
  width: 100%;
  margin-bottom: 10px;
}
.section-projetos .projetos .projeto .footer-projeto .infos-projeto .small-description p {
  font-size: 0.9em;
  text-align: center;
  color: #596f81;
}
.section-projetos .projetos .projeto .footer-projeto .infos-projeto .box-link-projeto {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}
.section-projetos .projetos .projeto .footer-projeto .infos-projeto .box-link-projeto .link-projeto {
  background-color: #0af;
  font-size: 0.82em;
  color: #FFF;
  padding: 6px 10px;
  border-radius: 2px;
}
.section-projetos .projetos .projeto .footer-projeto-open .btn-expande-footer .icon {
  color: #333;
  padding: 5px;
  transform: rotate(180deg);
  transition: 0.3s;
}
.section-projetos .projetos .projeto-active {
  transform: translateY(0);
  opacity: 1;
  transition: 2s;
}

@media screen and (min-width: 420px) {
  .section-projetos .projetos .projeto {
    width: 80%;
  }
  .section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .item {
    height: 230px;
  }
}
@media screen and (min-width: 740px) {
  .section-projetos .projetos {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .section-projetos .projetos .projeto {
    width: 32%;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 980px) {
  .section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .item {
    height: 250px;
  }
}
.section-sobre {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-sobre/fim-section-sobre;
  background: #FFF;
  /*     h2.title{
          padding-top: 30px;
      } */
}
.section-sobre .sobre {
  width: 100%;
}
.section-sobre .sobre .introducao {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.section-sobre .sobre .introducao .box-imagem-ideia {
  width: 60%;
  margin-bottom: 10px;
}
.section-sobre .sobre .introducao .box-iformacoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-sobre .sobre .introducao .box-iformacoes .title {
  font-size: 1.1em;
  font-family: "Roboto";
  color: #2e5678;
  margin-bottom: 20px;
  text-align: center;
}
.section-sobre .sobre .introducao .box-iformacoes .subtitle {
  color: #596f81;
}
.section-sobre .sobre .nosso-foco {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.section-sobre .sobre .nosso-foco .links-itens {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-sobre .sobre .nosso-foco .links-itens li {
  width: 30%;
}
.section-sobre .sobre .nosso-foco .links-itens li .link-item {
  display: block;
  font-size: 0.8em;
  padding: 7px 10px;
  color: #FFF;
  border-radius: 5px;
  text-align: center;
}
.section-sobre .sobre .nosso-foco .links-itens li .link-item-satisfacao {
  background: #0de36d;
}
.section-sobre .sobre .nosso-foco .links-itens li .link-item-agilidade {
  background: #ff8000;
}
.section-sobre .sobre .nosso-foco .links-itens li .link-item-seguranca {
  background: #00aaff;
}
.section-sobre .sobre .nosso-foco .box-titulo-subtitulo {
  margin-bottom: 30px;
}
.section-sobre .sobre .nosso-foco .box-titulo-subtitulo .title {
  font-size: 1.1em;
  font-family: "Roboto";
  color: #2e5678;
  margin-bottom: 20px;
  text-align: center;
}
.section-sobre .sobre .nosso-foco .box-titulo-subtitulo .subtitle {
  color: #596f81;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco {
  margin-bottom: 20px;
  box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.1);
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item {
  height: 100px;
  max-height: 100px;
  width: 100%;
  display: flex;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item .box-icon {
  width: 30%;
  background: #0af;
  display: flex;
  align-items: center;
  padding: 4px 10px;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item .box-info {
  flex: 1;
  padding: 2px 10px;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item .box-info .title {
  font-size: 1em;
  color: #0af;
  font-weight: normal;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item .box-info .subtitle {
  font-size: 0.9em;
  color: #596f81;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item-satisfacao .box-icon {
  background: #ccc;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item-satisfacao .box-info .title {
  color: #0de36d;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item-agilidade .box-icon {
  background: #ccc;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item-agilidade .box-info .title {
  color: #ff8000;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item-seguranca .box-icon {
  background: #ccc;
}
.section-sobre .sobre .nosso-foco .owl-carousel-nosso-foco .item-seguranca .box-info .title {
  color: #00aaff;
}

@media screen and (min-width: 720px) {
  .section-sobre .sobre {
    margin-top: 30px;
  }
  .section-sobre .sobre .introducao {
    flex-direction: row-reverse;
  }
  .section-sobre .sobre .introducao .box-imagem-ideia {
    width: 30%;
    margin: 0;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
  }
  .section-sobre .sobre .introducao .box-iformacoes {
    align-self: flex-start;
    flex: 1;
    padding-right: 20px;
  }
  .section-sobre .sobre .introducao .box-iformacoes .title, .section-sobre .sobre .introducao .box-iformacoes .subtitle {
    width: 100%;
    text-align: left;
  }
  .section-sobre .sobre .nosso-foco .links-itens {
    display: none;
  }
  .section-sobre .sobre .nosso-foco .box-titulo-subtitulo .title {
    text-align: left;
  }
}
.section-parceiros {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-parceiros/fim-section-parceiros;
  background-color: #FFF;
}
.section-parceiros .parceiros {
  width: 100%;
}
.section-parceiros .parceiros .owl-carousel .item {
  height: 150px;
  display: flex;
  justify-content: center;
  background-position: center center;
  background-size: 70%;
  background-repeat: no-repeat;
}

.section-contato {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-contato/fim-section-contato;
}

[pagina=orcamento] {
  background-color: #2e5678;
}
[pagina=orcamento] .content-logo-btn-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[pagina=orcamento] .content-logo-btn-menu .logo {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
[pagina=orcamento] .content-logo-btn-menu .logo a {
  color: #0af;
}
[pagina=orcamento] .content-logo-btn-menu .logo a span {
  color: #FFF;
}
[pagina=orcamento] .content-logo-btn-menu .btn-menu {
  display: none;
}
[pagina=orcamento] .content-menu {
  display: none;
}

.container-principal {
  position: relative;
  display: grid;
  grid-template-columns: [inicio-left] 30px [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 30px [fim-rigth];
  grid-template-rows: [inicio-section-home] min(100vh) [fim-section-home] 0px [inicio-section-sobre] auto [fim-section-sobre] 0px [inicio-section-servicos] auto [fim-section-servicos] 0px [inicio-section-projetos] auto [fim-section-projetos] 0px [inicio-section-parceiros] auto [fim-section-parceiros] 0px [inicio-section-contato] min(100vh) [fim-section-contato] 0px;
}
.container-principal .section {
  padding: 0 5%;
  background: #fff;
  overflow: hidden;
}
.container-principal .section .header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.container-principal .section .header-section .title {
  text-transform: uppercase;
  font-size: 1.3em;
}
.container-principal .section .header-section .title, .container-principal .section .header-section .subtitle {
  color: #2e5678;
  text-align: center;
}
.container-principal .section .header-section .divisor-title {
  width: 100%;
  height: 23px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px 0;
  transform: translateY(-80%);
  opacity: 0.2;
  animation: 1.3s ease-out;
}
.container-principal .section .header-section .subtitle {
  transform: translateY(-100%);
  opacity: 0.2;
  animation: 1.3s ease-out;
}
.container-principal .section .header-active .divisor-title {
  transform: translateY(0);
  opacity: 1;
  transition: 1.3s ease-in-out;
}
.container-principal .section .header-active .subtitle {
  transform: translateY(0);
  opacity: 1;
  transition: 1.3s ease-in-out;
}
.container-principal .section-separador-parceiros-top {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-separador-parceiros-top/fim-separador-parceiros-top;
  background-size: cover;
  background-position: center center;
  background-image: url(../../img/separador-section.svg);
}
.container-principal .section-separador-parceiros-bottom {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-separador-parceiros-bottom/fim-separador-parceiros-bottom;
  background-size: cover;
  background-position: center center;
  background-image: url(../../img/separador-section-bottom.svg);
}

.contente-btns-whatsapp-volta-topo {
  position: fixed;
  right: 0px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.contente-btns-whatsapp-volta-topo .btn-whatsapp {
  padding: 8px 10px;
  margin-bottom: 10vh;
}
.contente-btns-whatsapp-volta-topo .btn-whatsapp button {
  background: transparent;
  border: none;
}
.contente-btns-whatsapp-volta-topo .btn-whatsapp button a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 2em;
  background: #25d366;
  color: #FFF;
  border-radius: 50%;
}
.contente-btns-whatsapp-volta-topo .btn-volta-top {
  padding: 8px 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background-color: #0af;
  color: #FFFFFF;
  border-radius: 3px;
  display: none;
  margin-top: 0;
  transition: 0.3s;
}
.contente-btns-whatsapp-volta-topo .btn-volta-top-visivel {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

@media screen and (min-width: 520px) {
  .container-principal .section {
    padding: 0 15%;
  }
  .container-principal .section .background-section {
    padding: 0 15%;
  }
}
@media screen and (min-width: 620px) {
  .container-principal .section {
    padding: 0 18%;
  }
  .container-principal .section .background-section {
    padding: 0 18%;
  }
}
@media screen and (min-width: 740px) {
  .container-principal .section {
    padding: 0 30px;
  }
  .container-principal .section .background-section {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container-principal .section {
    padding: 0 10%;
  }
  .container-principal .section .background-section {
    padding: 0 10%;
  }
}

/*# sourceMappingURL=includes.css.map */
