* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open sans", sans-serif;
}

body {
  background-color: #eee;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-principal {
  position: relative;
  display: grid;
  grid-template-columns: [inicio-left] 30px [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 30px [fim-rigth];
  grid-template-rows: [inicio-section-home] min(100vh) [fim-section-home] 10px [inicio-section-servicos] auto [fim-section-servicos] 10px [inicio-section-precos] min(100vh) [fim-section-precos] 10px [inicio-section-sobre] min(100vh) [fim-section-sobre] 0px [inicio-separador-parceiros-top] 100px [fim-separador-parceiros-top] 0px [inicio-section-parceiros] auto [fim-section-parceiros] 0px [inicio-separador-parceiros-bottom] 100px [fim-separador-parceiros-bottom] 0px [inicio-section-time] min(100vh) [fim-section-time] 10px [inicio-section-contato] min(100vh) [fim-section-contato] 10px;
}
.container-principal .section {
  padding: 0 10%;
}
.container-principal .section .header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.container-principal .section .header-section .title {
  text-transform: uppercase;
  font-size: 1.3em;
}
.container-principal .section .header-section .title, .container-principal .section .header-section .subtitle {
  color: #2e5678;
  text-align: center;
}
.container-principal .section .header-section .divisor-title {
  width: 100%;
  height: 23px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px 0;
}
.container-principal .section-separador-parceiros-top {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-separador-parceiros-top/fim-separador-parceiros-top;
  background-size: cover;
  background-position: center center;
  background-image: url(../../img/separador-section.svg);
}
.container-principal .section-separador-parceiros-bottom {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-separador-parceiros-bottom/fim-separador-parceiros-bottom;
  background-size: cover;
  background-position: center center;
  background-image: url(../../img/separador-section-bottom.svg);
}

.contente-btn-volta-topo {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.contente-btn-volta-topo .btn-volta-top {
  padding: 8px 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background-color: #0af;
  color: #FFFFFF;
  border-radius: 3px;
  display: none;
}
.contente-btn-volta-topo .btn-volta-top-visivel {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 520px) {
  .container-principal .section {
    padding: 0 15%;
  }
}
@media screen and (min-width: 620px) {
  .container-principal .section {
    padding: 0 18%;
  }
}
@media screen and (min-width: 740px) {
  .container-principal .section {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container-principal .section {
    padding: 0 10%;
  }
}
.paraliza-body {
  overflow: hidden;
}

.cabecalho-branco {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px #00aaff;
}

.container-cabecalho {
  width: 100%;
  padding: 6px 12px;
  position: fixed;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cabecalho .content-logo-btn-menu .logo {
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .logo a {
  display: block;
  width: 100px;
  height: 30px;
  background: url(../../img/sistema/logo-claro.png);
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
}
.container-cabecalho .content-logo-btn-menu .logo-escuro a {
  display: block;
  width: 100px;
  height: 30px;
  background: url(../../img/sistema/logo-escuro.png);
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
}
.container-cabecalho .content-logo-btn-menu .btn-menu {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  transition: 0.3s;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-escuro .linha-btn {
  background-color: #2e5678;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto {
  justify-content: center;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-2 {
  margin-top: -4px;
  transform: translateX(-100%);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-1 {
  transform: rotate(45deg);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-3 {
  margin-top: -4px;
  transform: rotate(-45deg);
}

.content-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  left: -100%;
}
.content-menu .menu-principal {
  width: 270px;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(-50%);
  transition: 0.5s;
  overflow: hidden;
}
.content-menu .menu-principal .ul-items-menu {
  width: 100%;
  border-top: 1px solid #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
.content-menu .menu-principal .ul-items-menu li.item {
  width: 100%;
}
.content-menu .menu-principal .ul-items-menu li.item a {
  width: 100%;
  display: block;
  padding: 5px 30px;
  font-size: 0.9em;
  color: #333333;
}
.content-menu .menu-principal .ul-items-menu li.item:hover a {
  color: #FFFFFF;
  background-color: #2e5678;
}
.content-menu .menu-principal .ul-items-midias {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content-menu .menu-principal .ul-items-midias li.item-midia {
  flex: 1;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon {
  display: block;
  text-align: center;
  font-size: 1.4em;
  padding: 5px 0;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon:hover {
  background-color: #eee;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon-facebook {
  color: #4164ac;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon-instagram {
  color: #f24d57;
}
.content-menu .menu-principal .ul-items-midias li.item-midia a.icon-whatsapp {
  color: #00e676;
}

.content-menu-aberto {
  top: 0;
  left: 0;
  transition: 0.3s;
}
.content-menu-aberto .menu-principal {
  transform: translateX(0);
  transition: 0.6s;
}
.content-menu-aberto .btn-menu {
  transition: 0.3s;
}

@media screen and (min-width: 990px) {
  .cabecalho-branco .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #333333;
  }

  .container-cabecalho .content-logo-btn-menu .btn-menu {
    display: none;
  }

  .content-menu {
    height: 100%;
    width: auto;
    position: relative;
    left: inherit;
    background-color: inherit;
    transition: none;
  }
  .content-menu .menu-principal {
    width: auto;
    background-color: transparent;
    transform: none;
    padding: 0;
    transition: none;
  }
  .content-menu .menu-principal .ul-items-menu {
    padding: 0;
    height: 100%;
    flex-direction: row;
    border: none;
  }
  .content-menu .menu-principal .ul-items-menu li.item {
    width: auto;
  }
  .content-menu .menu-principal .ul-items-menu li.item a {
    color: #FFFFFF;
  }
  .content-menu .menu-principal .ul-items-menu li.item:hover a {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
  }
  .content-menu .menu-principal .ul-items-midias {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .container-cabecalho {
    padding: 6px 10%;
  }
}
.section-home {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-home/fim-section-home;
  position: relative;
}
.section-home .background-section-home {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.section-home .background-section-home .box-titles-btn-acao {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-home .background-section-home .box-titles-btn-acao .titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.section-home .background-section-home .box-titles-btn-acao .titles .title {
  color: #FFF;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 35px;
}
.section-home .background-section-home .box-titles-btn-acao .titles .subtitle {
  color: #FFF;
  padding: 0 40px;
  text-align: center;
}
.section-home .background-section-home .box-titles-btn-acao .btn-acao {
  flex: 1;
  display: flex;
  align-items: center;
}
.section-home .background-section-home .box-titles-btn-acao .btn-acao button {
  border: none;
}
.section-home .background-section-home .box-titles-btn-acao .btn-acao button a.btn-orcamento {
  background-color: #0af;
  color: #FFF;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
}
.section-home .background-section-home .box-titles-btn-acao .btn-acao button a.btn-orcamento:hover {
  border: 1px solid #FFF;
}

.section-servicos {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-servicos/fim-section-servicos;
}
.section-servicos .servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-servicos .servicos .servico {
  overflow: hidden;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #FFF;
  transition: 0.2s;
}
.section-servicos .servicos .servico .link-servico {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.section-servicos .servicos .servico .link-servico .box-icon-servico {
  width: 60px;
  height: 65px;
  transform: translateX(-50%);
  transition: 0.4s ease-out;
}
.section-servicos .servicos .servico .link-servico .box-icon-servico span.icon-servico {
  display: block;
  width: 60px;
  height: 65px;
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  transition: 0.2s;
}
.section-servicos .servicos .servico .link-servico .box-icon-servico-active {
  transform: translateX(0);
  transition: 0.4s ease-in;
}
.section-servicos .servicos .servico .link-servico .box-icon-servico-active span.icon-servico {
  transform: scale(1.1);
  transition: 0.2s;
}
.section-servicos .servicos .servico .link-servico .box-infos-servico {
  transform: translateX(80%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s ease-out;
}
.section-servicos .servicos .servico .link-servico .box-infos-servico .title-servico {
  font-size: 1.1em;
  color: #2e5678;
  margin-bottom: 20px;
  text-align: center;
}
.section-servicos .servicos .servico .link-servico .box-infos-servico .descricao-servico {
  text-align: center;
  color: #2e5678;
  font-size: 0.9em;
}
.section-servicos .servicos .servico .link-servico .box-infos-servico-active {
  transform: translateX(0);
  transition: 0.4s ease-in;
}

@media screen and (min-width: 740px) {
  .section-servicos .servicos {
    flex-direction: row;
    justify-content: space-between;
  }
  .section-servicos .servicos .servico {
    width: 30%;
  }
}
.section-precos {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-precos/fim-section-precos;
}

.section-sobre {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-sobre/fim-section-sobre;
}
.section-sobre .parceiros {
  width: 100%;
}
.section-sobre .parceiros .owl-carousel .item {
  display: flex;
  justify-content: center;
}
.section-sobre .parceiros .owl-carousel .item img {
  width: 80%;
}

.section-parceiros {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-parceiros/fim-section-parceiros;
  background-color: #FFF;
}
.section-parceiros .parceiros {
  width: 100%;
}
.section-parceiros .parceiros .owl-carousel .item {
  height: 150px;
  display: flex;
  justify-content: center;
  background-position: center center;
  background-size: 70%;
  background-repeat: no-repeat;
}

.section-time {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-time/fim-section-time;
}

.section-contato {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-contato/fim-section-contato;
}

[pagina=orcamento] {
  background-color: #2e5678;
}
[pagina=orcamento] .content-logo-btn-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[pagina=orcamento] .content-logo-btn-menu .logo {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
[pagina=orcamento] .content-logo-btn-menu .logo a {
  color: #0af;
}
[pagina=orcamento] .content-logo-btn-menu .logo a span {
  color: #FFF;
}
[pagina=orcamento] .content-logo-btn-menu .btn-menu {
  display: none;
}
[pagina=orcamento] .content-menu {
  display: none;
}

/*# sourceMappingURL=includes.css.map */
