.section-projetos {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-projetos/fim-section-projetos;
}
.section-projetos .projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-projetos .projetos .projeto {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.1);
  transform: translateY(30%);
  opacity: 0.5;
  transition: 1s;
}
.section-projetos .projetos .projeto .header-projeto {
  width: 100%;
  background: #FFF;
}
.section-projetos .projetos .projeto .header-projeto .title-projeto {
  text-align: center;
  color: #444;
  font-size: 0.9em;
  padding: 5px;
}
.section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .item {
  height: 190px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .owl-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .owl-dots .owl-dot span {
  background-color: rgba(0, 170, 255, 0.534);
}
.section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .owl-dots .active span {
  background-color: #0af;
}
.section-projetos .projetos .projeto .footer-projeto {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section-projetos .projetos .projeto .footer-projeto .btn-expande-footer {
  width: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
}
.section-projetos .projetos .projeto .footer-projeto .btn-expande-footer .icon {
  color: #ccc;
  padding: 8px;
  transition: 0.3s;
}
.section-projetos .projetos .projeto .footer-projeto .infos-projeto {
  max-height: 0;
  transition: 0.3s;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
}
.section-projetos .projetos .projeto .footer-projeto .infos-projeto .small-description {
  width: 100%;
  margin-bottom: 10px;
}
.section-projetos .projetos .projeto .footer-projeto .infos-projeto .small-description p {
  font-size: 0.9em;
  text-align: center;
  color: #596f81;
}
.section-projetos .projetos .projeto .footer-projeto .infos-projeto .box-link-projeto {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}
.section-projetos .projetos .projeto .footer-projeto .infos-projeto .box-link-projeto .link-projeto {
  background-color: #0af;
  font-size: 0.82em;
  color: #FFF;
  padding: 6px 10px;
  border-radius: 2px;
}
.section-projetos .projetos .projeto .footer-projeto-open .btn-expande-footer .icon {
  color: #333;
  padding: 5px;
  transform: rotate(180deg);
  transition: 0.3s;
}
.section-projetos .projetos .projeto-active {
  transform: translateY(0);
  opacity: 1;
  transition: 2s;
}

@media screen and (min-width: 420px) {
  .section-projetos .projetos .projeto {
    width: 80%;
  }
  .section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .item {
    height: 200px;
  }
}
@media screen and (min-width: 720px) {
  .section-projetos .projetos {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .section-projetos .projetos .projeto {
    width: 32%;
  }
}
@media screen and (min-width: 980px) {
  .section-projetos .projetos .projeto {
    width: 32%;
  }
  .section-projetos .projetos .projeto .box-slider-imagens .owl-carousel-projeto-imagens .item {
    height: 230px;
  }
}

/*# sourceMappingURL=section-projetos.css.map */
