<div class="grid-principal">

    <section id="home" class="container-slider">

            <article class="content-titles">
                <h2>Soluções em Desenvolvimento Web e Marketing Digital</h2>
                <div id="div-subtitulo">
                    <p id="subtitulo">Sua empresa já está na internet?</p>
                </div>
            </article>

            <article class="content-buttons">
                <button id="btn-orcamento" title="pré-orçamento sem compromisso!">Orçamento</button>
                <button id="btn-mouse">
                    <span></span>
                </button>
                <div class="controls">
                    <ul>
                        <li class="control"></li>
                        <li class="control"></li>
                        <li class="control"></li>
                    </ul>
                </div>
            </article>

    </section>

    <section id="servicos" class="container-servicos">

        <div class="title-sections title-servicos">
            <h2>Serviços</h2>
            <hr>
        </div>
        <div class="servicos">
            
            {% for servico in servicos %}
            <article class="servico">
                <div class="div-img">
                    <img src="{{servico.servicoImagem}}" alt="{{servico.servicoTitle}}">
                </div>
                <div class="div-titles">
                    <h2>{{servico.servicoTitle}}</h2>
                    <p>{{servico.servicoDescricao}}</p>
                </div>
            </article>
            {% endfor %}
        </div>

        <div>
            
        </div>
        
    </section>

    <section id="clientes" class="container-clientes">
        <div class="title-sections title-clientes">
            <h2>Clientes</h2>
            <hr>
        </div>
    </section>
    <section id="projetos" class="container-projetos">
        <div class="title-sections title-projetos">
            <h2>Projetos</h2>
            <hr>
        </div>

        <section class="content-projetos">
            <article class="projeto projeto-01">

                <header class="cabecalho-projeto">
                    <span>
                        <i class="fas fa-circle"></i>
                        <i class="fas fa-circle"></i>
                    </span>
                    <h2 class="title-projeto">Página de venda</h2>    
                </header>

                <div class="content-img-projeto-detalhes">
                    <div class="detalhes-projeto">

                        <p class="descricao-projeto">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, fugit!
                        </p>
                        <a href="#" target="_blank"class="demo-projeto">ver</a>

                    </div>
                    <div class="img-projeto" style="background-image: url(img/png/projeto1.png);">

                    </div>
                </div>

            </article>
        </section>

    </section>
</div>