<div class="grid-login">

    <section class="container-login">

        <div id="load-login">

            <div id="icon-load">

                <div class="c-loader"></div>

            </div>

        </div>
        
        <div class="content-login">
            
            <ul class="abas-login-cadastro">

                <div class="btns-abas">

                    <li class="btn-aba btn-aba-active btn-aba-login">Login</li>
                    <li class="btn-aba btn-aba-cadastro">Cadastro</li>

                </div>

                <div class="telas-login-cadastro">
                    <form action="#" method="POST" class="tela tela-cadastro" name="form-cadastro">

                        <div class="title-tela">
                            <h3>Cadastre-se</h3>
                        </div>

                        <div class="form-group">
                            <span class="icon icon-email"><i class="far fa-user"></i></span>
                            <input type="email" name="ipt-email" id="ipt-email" class="input" placeholder="seu e-mail">
                        </div>


                    </form>

                    <form action="#" method="POST" class="tela tela-login" name="form-login">

                        <div class="title-tela">
                            <h3>Faça login com sua conta</h3>
                        </div>

                        <div class="form-group">
                            <span class="icon icon-email"><i class="far fa-user"></i></span>
                            <input type="email" name="ipt-email" id="ipt-email" class="input" placeholder="seu e-mail">
                        </div>


                    </form>


                </div>

            </ul>
            
        </div>

        <div class="msg-retorno">
            <p>Mensagem aqui</p>
        </div>
    </section>
    
</div>