@use 'v';
.container-principal{
    position: relative;
    display: grid;
    grid-template-columns: [inicio-left] 30px [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 30px [fim-rigth];
    grid-template-rows: 
                    [inicio-section-home] min(100vh) [fim-section-home]10px
                    [inicio-section-servicos] auto [fim-section-servicos]10px
                    [inicio-separador-parceiros-top] 100px [fim-separador-parceiros-top]0px
                    [inicio-section-parceiros] auto [fim-section-parceiros]0px
                    [inicio-separador-parceiros-bottom] 100px [fim-separador-parceiros-bottom]0px
                    [inicio-section-precos] min(100vh) [fim-section-precos]10px
                    [inicio-section-sobre] min(100vh) [fim-section-sobre]0px
                    [inicio-section-time] min(100vh) [fim-section-time]10px
                    [inicio-section-contato] min(100vh) [fim-section-contato]10px
                    ;

    .section{
        padding: 0 10%;
        .header-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            .title{
                text-transform: uppercase;
                font-size: 1.3em;
            }
            .title, .subtitle{
                color:#2e5678 ;
                text-align: center;
            }
            .divisor-title{
                width: 100%;
                height: 23px;
                background-position:center center;
                background-repeat: no-repeat;
                margin: 5px 0;
                transform: translateY(-80%);
                opacity: 0.2;
                animation: 1.3s ease-out;
            }
            .subtitle{
                transform: translateY(-100%);
                opacity: .2;
                animation: 1.3s ease-out;
            }
        }
        .header-active{
            .divisor-title{
                transform: translateY(0);
                opacity: 1;
                transition: 1.3s ease-in-out;
            }
            .subtitle{
                transform: translateY(0);
                opacity: 1;
                transition: 1.3s ease-in-out;
            }
        }
    }
    .section-separador-parceiros-top{
        grid-column: inicio-left/fim-rigth;
        grid-row: inicio-separador-parceiros-top / fim-separador-parceiros-top;
        background-size: cover;
        background-position: center center;
        background-image: url(../../img/separador-section.svg);
    }
    .section-separador-parceiros-bottom{
        grid-column: inicio-left/fim-rigth;
        grid-row: inicio-separador-parceiros-bottom / fim-separador-parceiros-bottom;
        background-size: cover;
        background-position: center center;
        background-image: url(../../img/separador-section-bottom.svg);
        
    }
}

.contente-btn-volta-topo{
    position: fixed;
    right: v.$padding-x-rigth-padrao;
    bottom:v.$padding-y-bottom-padrao;

    .btn-volta-top{
        padding: 8px 10px;
        border: 1px solid v.$cor-branco;
        cursor: pointer;
        background-color: #0af;
        color: v.$cor-branco;
        border-radius: 3px;
        display: none;
    }

    .btn-volta-top-visivel{
        display: flex;
        justify-content: center;
        align-items: center;
    }



}


@media screen and (min-width: 520px) {
    .container-principal{
        .section{
            padding: 0 15%;
        }
    }
}

@media screen and (min-width: 620px) {
    .container-principal{
        .section{
            padding: 0 18%;
        }
    }
}

@media screen and (min-width: 740px) {
    .container-principal{
        .section{
            padding: 0 30px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .container-principal{
        .section{
            padding: 0 10%;
        }
    }
}