.section-servicos{
    grid-column: inicio-left/fim-rigth;
    grid-row:inicio-section-servicos/fim-section-servicos;
    .servicos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .servico{
            width: 100%;
            padding: 20px;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            background-color: #FFF;
            .link-servico{
                padding: 20px 15px;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                .box-icon-servico{
                    width: 60px;
                    height: 65px;
                    span.icon-servico{
                        display: block;
                        width: 60px;
                        height: 65px;
                        background-position: center center;
                        background-size:80%;
                        background-repeat: no-repeat;
                        margin-bottom: 15px;
                        transition: .2s;
                    }
                }
                .box-infos-servico{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .title-servico{
                        font-size: 1.1em;
                        color: #2e5678;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                    .descricao-servico{
                        text-align: center;
                        color: #2e5678;
                        font-size: .9em;
                    }
                }
            }
        }
        .servico:hover .box-icon-servico span.icon-servico{
            transform: scale(1.1);
            transition: .2s;
        }
    }
}


@media screen and (min-width: 740px) {
    .section-servicos{
        .servicos{
            flex-direction: row;
            justify-content: space-between;
            .servico{
                width: 30%;
            }
        }
    }
}