
.section-sobre{
    grid-column: inicio-left/fim-rigth;
    grid-row:inicio-section-sobre/fim-section-sobre;
    background-color: #FFF;
    .parceiros{
        width: 100%;
        .owl-carousel{
            .item{
                display: flex;
                justify-content: center;
                img{
                    width: 80%;
                }
            }
        }
    }
}

