.section-servicos{
    grid-column: inicio-left/fim-rigth;
    grid-row:inicio-section-servicos/fim-section-servicos;
    .servicos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .servico{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #FFF;
            padding: 12px;
            border-radius: 8px;
            margin-bottom: 30px;
            .box-icon-servico{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                .icon-servico{
                    width: 100px;
                    height: 100px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            .box-infos-servico{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .title-servico{
                    text-align: center;
                    color: #2e5678;
                    margin-bottom: 15px;
                }
                .descricao-servico{
                    text-align: center;
                    color: #596f81;
                }
            }
        }

    }
}


@media screen and (min-width: 740px) {
    .section-servicos{
        .servicos{
            flex-direction: row;
            justify-content: space-between;
            .servico{
                //width: 30%;
            }
        }
    }
}