
.section-projetos{
    grid-column: inicio-left/fim-rigth;
    grid-row:inicio-section-projetos/fim-section-projetos;

    .projetos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .projeto{
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 20px;
            box-shadow: 0 0.15em 0.5em 0 rgb(0 0 0 / 10%);
            transform: translateY(30%);
            opacity: .5;
            transition: 1s;
            .header-projeto{
                width: 100%;
                background: #FFF;
                .title-projeto{
                    text-align: center;
                    color: #444;
                    font-size: .9em;
                    padding: 5px;
                }

            }
            .box-slider-imagens{
                .owl-carousel-projeto-imagens{
                    .item{
                        height: 190px;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        position: relative;
                    }

                    .owl-dots{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        bottom: 10px;
                        right: 0px;
                        .owl-dot{
                            span{
                                background-color: rgba(0, 170, 255, 0.534);
                            }
                        }
                        .active{
                            span{
                                background-color: #0af;
                            }
                        }
                    }
                }
            }
            .footer-projeto{
                width: 100%;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .btn-expande-footer{
                    width: 100%;
                    display: block;
                    text-align: center;
                    cursor: pointer;
                    .icon{
                        color: #ccc;
                        padding: 8px;
                        transition: .3s;
                    }
                }
                .infos-projeto{
                    max-height: 0;
                    transition: .3s;
                    padding-top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: .4s;
                    .small-description{
                        width: 100%;
                        margin-bottom: 10px;
                        p{
                            font-size: .9em;
                            text-align: center;
                            color: #596f81;
                        }
                    }
                    .box-link-projeto{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding-bottom: 8px;
                        .link-projeto{
                            background-color: #0af;
                            font-size: .82em;
                            color: #FFF;
                            padding: 6px 10px;
                            border-radius: 2px;
                        }
                    }
                }
            }
            .footer-projeto-open{
                .btn-expande-footer{
                    .icon{
                        color: #333;
                        padding: 5px;
                        transform: rotate(180deg);
                        transition: .3s;
                    }
                }
            }
        }
        .projeto-active{
            transform: translateY(0);
            opacity: 1;
            transition: 2s;
        }
    }
}

@media screen and (min-width: 420px) {
    .section-projetos{
        .projetos{
            .projeto{
                width: 80%;
                .box-slider-imagens{
                    .owl-carousel-projeto-imagens{
                        .item{
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 720px) {
    .section-projetos{
        .projetos{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            .projeto{
                width: 32%;
                margin-bottom: 40px;
            }
        }
    }
}
@media screen and (min-width: 980px) {
    .section-projetos{
        .projetos{
            .projeto{
                .box-slider-imagens{
                    .owl-carousel-projeto-imagens{
                        .item{
                            height: 230px;
                        }
                    }
                }
            }
        }
    }
}