<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url"          content="https://agladev.github.io/Portfolio/" />
	<meta property="og:type"         content="article" />
	<meta property="og:title"        content="AglaDev Soluções" />
	<meta property="og:description"  content="Soluções em desenvolvimento web e Marketing Digital." />
	<meta property="og:image"        content="img/jpg/metaimg1.jpg" />
	<meta property="og:image:width" content="800">
	<meta property="og:image:height" content="600">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="author" content="José Aglailson">
	<meta name="keywords" content="Desenvolvedor, Programado FrontEnd, desenvolvimento de site">
	<title>AglaDev</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
	<link rel="icon" type="icon" href="img/png/icon.png">
</head>
<body class="grid-container">

    <header class="container-cabecalho">

        <div id="content-logo-btn-menu">
            <h2><a class="logo" href="#">Agla<span id="logo-span">Dev</span></a></h2>
            <div class="btn-menu">
                <span class="linha linha01"></span>
                <span class="linha linha02"></span>
                <span class="linha linha03"></span>
            </div>
        </div>

        <nav id="content-menu" class="content-menu">
            <ul class="menu">

                <section class="section-midias">
                    <ul>
                    <li><a href="#"><i class="icon fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="icon fab fa-instagram"></i></a></li>
						<li><a href="#"><i class="icon fab fa-github"></i></a></li>
						<li><a href="#"><i class="icon fas fa-envelope"></i></a></li> 
                    </ul>
                </section>

                <section class="section-itens">
                
                </section>

                <footer id="footer-menu">
                    <h3>Todos os direitos reservados</h3>
                    <a href="#">Agla<span>Dev</span></a>
                </footer>

            </ul>
        </nav>
    </header>

    <main class="principal">
        {{area_dinamica}}
    </main>
    
</body>
</html>