<main class="container-principal">

    <section class="section-home" id="home">
        <h3>Home</h3>
    </section>

    <section class="section-servicos" id="servicos">
        <h3>Serviços</h3>
    </section>

    <section class="section-precos" id="precos">
        <h3>Preços</h3>
    </section>

    <section class="section-sobre" id="sobre">
        <h3>Sobre</h3>
    </section>

    <section class="section-time" id="time">
        <h3>Time</h3>
    </section>

    <section class="section-contato" id="contato">
        <h3>Contato</h3>
    </section>


    <div class="contente-btn-volta-topo">
        <button class="btn-volta-top">
            <i class="fas fa-chevron-up"></i>
        </button>
    </div>

</main>