<main class="container-principal">

    <section class="section-home" id="home">
        <div class="background-section-home" style="background-image: linear-gradient(rgba(46, 49, 49, 0.8), rgba(46, 49, 49, 0.8)), url({{URL}}/resources/assets/img/sistema/background-section-home.jpg);">
            <div class="box-titles-btn-acao padding-cabecalho">
                <div class="titles">
                    <h1 class="title">Soluções em Desenvolvimento Web</h1>
                    <p class="subtitle">Desenvolvimento Web focado em satisfação, agilidade e segurança!</p>
                </div>
                <div class="btn-acao">
                    <button><a href="{{URL}}/orcamento" class="btn-orcamento">orçamento</a></button>
                </div>
            </div>
        </div>
    </section>

    <section class="section-servicos" id="servicos">
        <h3>Serviços</h3>
    </section>

    <section class="section-precos" id="precos">
        <h3>Preços</h3>
    </section>

    <section class="section-sobre" id="sobre">
        <h3>Sobre</h3>
    </section>

    <section class="section-time" id="time">
        <h3>Time</h3>
    </section>

    <section class="section-contato" id="contato">
        <h3>Contato</h3>
    </section>


    <div class="contente-btn-volta-topo">
        <button class="btn-volta-top">
            <i class="fas fa-chevron-up"></i>
        </button>
    </div>

</main>