<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{URL}}/resources/assets/style/css/includes.css">
    <!-- Librarias -->
    <link rel="stylesheet" href="{{URL}}/resources/assets/lib/owlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="{{URL}}/resources/assets/lib/owlCarousel/dist/assets/owl.theme.default.min.css">
    <script src="{{URL}}/resources/assets/js/cabecalho.js"></script>
    <script src="{{URL}}/resources/assets/js/main.js"></script>
    <link rel="shortcut icon" href="{{URL}}/resources/assets/img/icon.png" type="image/x-icon">
</head>
<body>

    {{header}}

    {{content}}

	{{footer}}
    <!-- jquery -->
    <script src="{{URL}}/resources/assets/lib/jquery/jquery-3.6.0.min.js"></script>
    <!-- OwlCarousel -->
    <script src="{{URL}}/resources/assets/lib/owlCarousel/dist/owl.carousel.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            $(".owl-carousel-parceiros").owlCarousel({
                items:4,
                loop:true,
                dots:false,
                autoplay:true,
                autoplayTimeout:3000,
                autoplayHoverPause:true,
                responsive:{
                    0:{
                        items: 1
                    },
                    520:{
                        items:2
                    },
                    720:{
                        items:3
                    },
                    1000:{
                        items:4
                    }
                }
            });

            $(".owl-carousel-nosso-foco").owlCarousel({
                items:4,
                loop:false,
                dots:false,
                autoplay:false,
                autoplayTimeout:3000,
                URLhashListener:true,
                startPosition: 'URLHash',
                responsive:{
                    0:{
                        items: 1
                    },
                    720:{
                        items:3
                    }
                }
            });

        })
    </script>
</body>
</html>