//Arquivo de estilo da pagina inicial

/*CONFIGURAÇÕES SEÇÃO DE SERVIÇOS*/
.grid-principal{
    display: grid;
	grid-template-columns: [inicio]25px [inicio-principal] 1fr repeat(21, 10px 1fr) [fim-principal] 25px[fim];
	grid-template-rows: 
	[inicio-slider] 100vh [fim-slider]30px
	[inicio-servicos] auto [fim-servicos]30px
	[inicio-clientes] 100vh [fim-clientes]30px
    [inicio-projetos] auto [fim-projetos]30px
    ;
}
.container-slider{
    position: relative;
    grid-column: inicio/fim;
    grid-row:inicio-slider/fim-slider ;
    background: linear-gradient(rgba(46, 49, 49, 0.8),rgba(46, 49, 49, 0.8)), url(../../img/jpg/cabecalho1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    display: flex;
    flex-direction: column;
    .content-titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 170px;
        padding: 0 10px;

        h2{
            font-size: 1.5em;
            color: #fff;
            text-align: center;
            margin-bottom: 60px;
        }
        #div-subtitulo{
            width: 90%;
            padding: 10px;
            background-color: rgba(255,255, 255,0.2);
            display: flex;
            justify-content: center;
            border-radius: 3px;

            p{
                color: #fff;
                transition: .6s;
                text-align: center;
            }
        }
    }
    .content-buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-bottom: 20px;
        #btn-orcamento{
            color: #fff;
            background-color: #00AAFF;
            padding: 10px 15px;
            margin-bottom: 60px;
            border-radius: 3px;
            text-transform: uppercase;
            font-size: .8em;
            cursor: pointer;
        }
        #btn-mouse{
            width: 20px;
            height: 30px;
            border: 1px solid #0af;
            display: flex;
            justify-content: center;
            border-radius: 10px;
            align-items: center;
            padding: 1px;
            background-color: transparent;
            span{
                width: 2px;
                height: 4px;
                background-color: #0af;
                animation: mouse 1.2s infinite;
                transition: 1s;
            }
            @keyframes mouse{
                0%{transform: translateY(-3px);opacity: 0;}
                50%{transform: translateY(-6px);opacity: .0;}
                75%{transform: translateY(-8px);opacity: .5;}
                100%{transform: translateY(0px);opacity: 1;}
            }
        }
    }
}


/*CONFIGURAÇÕES SEÇÃO DE SERVIÇOS*/
.title-sections{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    h2{
        color: #333;
        font-size: 1em;
        margin-bottom: 5px;
    }
    hr{
        width: 70px;
        height: 2px;
        background-color: #00AAFF;
    }
}
.container-servicos{
    grid-column: inicio-principal/fim-principal;
    grid-row:inicio-servicos/fim-servicos ;


    .servicos{
        width: 100%;

        .servico{
            height: auto;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            padding:15px 10px;
            border-radius: 8px;
            margin-bottom: 30px;
            font-family: 'Open Sans' sans-serif;
            cursor: pointer;

            .div-img{
                width: 100%;
                max-height: 100px;
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
                overflow: hidden;
                img{
                    width: 200px;
                    stroke: #333;
                    stroke-width: 1px;
                    transition: .5s;
                    opacity: 0.7;
                    transform: translateX(30px);
                }
                .img-zoom{
                    transform: scale(1.09);
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            .div-titles{
                text-align: center;
                padding: 10px;
                transform: translateX(-100px);
                transition: .5s;
                opacity: 0;
            }
            .div-titles-active{
                transform: translateX(0);
                opacity: 1;
            }
            .div-titles {
                h2{
                    color: #333;
                    font-size: 1em;
                    margin-bottom: 15px;;
                }
                p{
                    color: #6f7c81;
                }
            }
        }
    }
 
}

.container-clientes{
    grid-column: inicio-principal/fim-principal;
    grid-row:inicio-clientes/fim-clientes ;
    background-color: #fff;
}
.container-projetos{
    grid-column: inicio-principal/fim-principal;
    grid-row:inicio-projetos/fim-projetos ;
    display: flex;
    flex-direction: column;

    .content-projetos{
        display: flex;
        flex-direction: column;

        .projeto{
            width: 100%;
            background-color:#fff ;
            border-radius: 8px;
            padding: 0 8px;
            padding-bottom: 8px;
            flex: 1;
            margin-bottom: 20px;
            .cabecalho-projeto{
                height: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:0 6px;
                cursor: pointer;
                span{
                    color: #6f7c81;
                    font-size: 8px;
                    i:first-child{
                        margin-right: 5px;
                    }
                }
                .title-projeto{
                    color: #6f7c81;
                    font-size: .8em;
                    flex: 1;
                    text-align: center;
                }
            }
            .content-img-projeto-detalhes{
                width: 100%;
                height: 225px;
                overflow: hidden;
                position: relative;
                .img-projeto{
                    display: flex;
                    width: 100%;
                    overflow: hidden;
                    height: 100%;
                    transition: .4s;
                    justify-content: center;
                    align-items: flex-end;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                }
            }
            .content-img-projeto-detalhes:hover .img-projeto{
                transform: scale(1.05);
            }
            .content-img-projeto-detalhes:hover .detalhes-projeto{
                transform: translateY(0px);
            }
            .detalhes-projeto{
                width: 100%;
                height: 60px;
                background-color: #ffffff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: .4s;
                opacity: 1;
                position: absolute;
                bottom: 0;
                transform: translateY(60px);
                z-index: 2;

                .descricao-projeto{
                    flex: 1;
                    color: #333;
                    font-size: .8em;
                    margin-right: 10px;
                    padding: 0 5px;
                    border-left: 1px solid #0af;
                }
                .demo-projeto{
                    padding: 8px 15px;
                    background-color: #00AAFF;
                    color: #ffffff;
                    border-radius: 3px;
                    font-size: .8em;
                    cursor: pointer;

                }
            }
        }
    }
    
        

}
