<main class="container-principal">

    <section class="section section-home" id="home">
        <div class="background-section background-section-home" style="background-image: linear-gradient(rgba(46, 49, 49, 0.8), rgba(46, 49, 49, 0.8)), url({{URL}}/resources/assets/img/sistema/background-section-home.jpg);">
            <div class="box-titles-btn-acao">
                <div class="titles">
                    <h1 class="title">Soluções em Desenvolvimento Web</h1>
                    <p class="subtitle">Desenvolvimento Web focado em satisfação, agilidade e segurança!</p>
                </div>
                <div class="btn-acao">
                    <button><a href="{{URL}}/orcamento" class="btn-orcamento">orçamento</a></button>
                </div>
            </div>
        </div>
    </section>

    
    <section class="section section-sobre" id="sobre">
        <div class="header-section">
            <h2 class="title">Sobre</h2>
            <div class="divisor-title" style="background-image: url({{URL}}/resources/assets/img/sistema/divisor-section.png);"></div>
            <p class="subtitle">Saiba um pouco mais sobre nós.</p>
        </div>
        <div class="sobre">

            <div class="sub-section sub-section-introducao">

                <div class="column column-1">

                    <div class="box-titles">
                        <h2 class="title">Saiba um pouco mais sobre nós</h2>
                        <p class="subtitle">
                            Somos uma empresa de desenvolvido web
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat praesentium aspernatur voluptatem nam soluta doloribus, error necessitatibus placeat commodi. Placeat?
                        </p>
                    </div>

                </div>

                <div class="column column-2">

                    <div class="box-imagem-ideia">
                        <img src="{{URL}}/resources/assets/img/sistema/img-responsive.jpg" alt="Icone ideia">
                    </div>      

                </div>
            </div>

            <div class="sub-section sub-section-nosso-foco">
                <div class="box-titulo-subtitulo">
                    <h2 class="title">Pontos importante para nós</h2>
                    <p class="subtitle">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste sint facilis ut iure nulla libero sunt culpa? Mollitia, cum.
                    </p>
                </div>
                <div class="owl-carousel owl-theme owl-carousel-nosso-foco">
                    <div class="item item-satisfacao" data-hash="satisfacao">
                        <div class="box-icon">
                            <img src="{{URL}}/resources/assets/img/sistema/hands.svg" alt="Icone Satisfação">
                        </div>
                        <div class="box-info">
                            <h3 class="title">Satisfação do cliente</h3>
                            <p class="subtitle">Temos como missão atingir a satisfação do cliente em cada projeto desenvolvido.</p>
                        </div>
                    </div>

                    <div class="item item-agilidade" data-hash="agilidade">
                        <div class="box-icon">
                            <img src="{{URL}}/resources/assets/img/sistema/foguete.svg" alt="Icone Satisfação">
                        </div>
                        <div class="box-info">
                            <h3 class="title">Agilidade nos projetos</h3>
                            <p class="subtitle">Agilidade nos processos de desenvolvimento para a concretização do seu projeto no prazo combinado!</p>
                        </div>
                    </div>

                    <div class="item item-seguranca" data-hash="seguranca">
                        <div class="box-icon">
                            <img src="{{URL}}/resources/assets/img/sistema/secure.svg" alt="Icone Satisfação">
                        </div>
                        <div class="box-info">
                            <h3 class="title">Segurança</h3>
                            <p class="subtitle">A segurança total dos dados sensiveis que são manipulados no seu sistema.</p>
                        </div>
                    </div>
                </div>
                <ul class="links-itens">
                    <li><a class="link-item link-item-satisfacao" href="#satisfacao">Satisfação</a></li>
                    <li><a class="link-item link-item-agilidade" href="#agilidade">Agilidade</a></li>
                    <li><a class="link-item link-item-seguranca" href="#seguranca">Segurança</a></li>
                </ul>
            </div> 

<!--             <div class="introducao">
                <div class="box-imagem-ideia">
                    <img src="{{URL}}/resources/assets/img/sistema/ideia.svg" alt="Icone ideia">
                </div>
                <div class="box-iformacoes">
                    <h2 class="title">Saiba um pouco mais sobre nós</h2>
                    <p class="subtitle">
                        Somos uma empresa de desenvolvido web
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat praesentium aspernatur voluptatem nam soluta doloribus, error necessitatibus placeat commodi. Placeat?
                    </p>
                </div>
            </div>

-->
            

        </div>
    </section>
    
    {{servicos}}

    <section class="section section-projetos" id="projetos">
        <div class="header-section">
            <h2 class="title">Projetos</h2>
            <div class="divisor-title" style="background-image: url({{URL}}/resources/assets/img/sistema/divisor-section.png);"></div>
            <p class="subtitle">Esses são alguns dos projetos desenvolvidos por nós.</p>
        </div>
        <div class="projetos">
            <div class="projeto">
                <div class="header-projeto">
                    <h3 class="title-projeto">
                        Dashboard empresarial
                    </h3>
                </div>
                <div class="box-slider-imagens">
                    <div class="owl-carousel owl-theme owl-carousel-projeto-imagens">
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto2.png);">
                        </div>
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto2.png);">
                        </div>
                    </div>
                </div>
                <div class="footer-projeto" title="Saiba mais">
                    <span class="btn-expande-footer"><i class="fas fa-chevron-down icon"></i></span>
                    <div class="infos-projeto">
                        <div class="small-description">
                            <p>Lorem ipsum dolor sit amet consectetur. Lorem, ipsum.</p>
                        </div>
                        <div class="box-link-projeto">
                            <a href="#" class="link-projeto">Ver site</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="projeto">
                <div class="header-projeto">
                    <h3 class="title-projeto">
                        Landing Page
                    </h3>
                </div>
                <div class="box-slider-imagens">
                    <div class="owl-carousel owl-theme owl-carousel-projeto-imagens">
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto3.png);">
                        </div>
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto3.png);">
                        </div>
                    </div>
                </div>
                <div class="footer-projeto">
                    <span class="btn-expande-footer"><i class="fas fa-chevron-down icon"></i></span>
                    <div class="infos-projeto">
                        <div class="small-description">
                            <p>Lorem ipsum dolor sit amet consectetur. Lorem, ipsum.</p>
                        </div>
                        <div class="box-link-projeto">
                            <a href="#" class="link-projeto">Ver site</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="projeto">
                <div class="header-projeto">
                    <h3 class="title-projeto">
                        Página de vendas
                    </h3>
                </div>
                <div class="box-slider-imagens">
                    <div class="owl-carousel owl-theme owl-carousel-projeto-imagens">
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto4.png);">
                        </div>
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto4.png);">
                        </div>
                    </div>
                </div>
                <div class="footer-projeto">
                    <span class="btn-expande-footer"><i class="fas fa-chevron-down icon"></i></span>
                    <div class="infos-projeto">
                        <div class="small-description">
                            <p>Lorem ipsum dolor sit amet consectetur. Lorem, ipsum.</p>
                        </div>
                        <div class="box-link-projeto">
                            <a href="#" class="link-projeto">Ver site</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projeto">
                <div class="header-projeto">
                    <h3 class="title-projeto">
                        Dashboard empresarial
                    </h3>
                </div>
                <div class="box-slider-imagens">
                    <div class="owl-carousel owl-theme owl-carousel-projeto-imagens">
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto2.png);">
                        </div>
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto2.png);">
                        </div>
                    </div>
                </div>
                <div class="footer-projeto" title="Saiba mais">
                    <span class="btn-expande-footer"><i class="fas fa-chevron-down icon"></i></span>
                    <div class="infos-projeto">
                        <div class="small-description">
                            <p>Lorem ipsum dolor sit amet consectetur. Lorem, ipsum.</p>
                        </div>
                        <div class="box-link-projeto">
                            <a href="#" class="link-projeto">Ver site</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="projeto">
                <div class="header-projeto">
                    <h3 class="title-projeto">
                        Landing Page
                    </h3>
                </div>
                <div class="box-slider-imagens">
                    <div class="owl-carousel owl-theme owl-carousel-projeto-imagens">
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto3.png);">
                        </div>
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto3.png);">
                        </div>
                    </div>
                </div>
                <div class="footer-projeto">
                    <span class="btn-expande-footer"><i class="fas fa-chevron-down icon"></i></span>
                    <div class="infos-projeto">
                        <div class="small-description">
                            <p>Lorem ipsum dolor sit amet consectetur. Lorem, ipsum.</p>
                        </div>
                        <div class="box-link-projeto">
                            <a href="#" class="link-projeto">Ver site</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="projeto">
                <div class="header-projeto">
                    <h3 class="title-projeto">
                        Página de vendas
                    </h3>
                </div>
                <div class="box-slider-imagens">
                    <div class="owl-carousel owl-theme owl-carousel-projeto-imagens">
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto4.png);">
                        </div>
                        <div class="item item-imagem-projeto" style="background-image: url({{URL}}/resources/assets/img/sistema/projetos/projeto4.png);">
                        </div>
                    </div>
                </div>
                <div class="footer-projeto">
                    <span class="btn-expande-footer"><i class="fas fa-chevron-down icon"></i></span>
                    <div class="infos-projeto">
                        <div class="small-description">
                            <p>Lorem ipsum dolor sit amet consectetur. Lorem, ipsum.</p>
                        </div>
                        <div class="box-link-projeto">
                            <a href="#" class="link-projeto">Ver site</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="section-separador-parceiros-top"></div> -->
    <section class="section section-parceiros" id="parceiros">
        <div class="header-section">
            <h2 class="title">Parceiros</h2>
            <div class="divisor-title" style="background-image: url({{URL}}/resources/assets/img/sistema/divisor-section.png);"></div>
            <p class="subtitle">Essas são algumas das empresas que confiam em nossos Serviços.</p>
        </div>
        <div class="parceiros">
            <div class="owl-carousel owl-theme owl-carousel-parceiros">
                <div class="item" style="background-image: url({{URL}}/resources/assets/img/sistema/parceiros/parceiro-1.png);"></div>
                <div class="item" style="background-image: url({{URL}}/resources/assets/img/sistema/parceiros/parceiro-2.png);"></div>
                <div class="item" style="background-image: url({{URL}}/resources/assets/img/sistema/parceiros/parceiro-3.png);"></div>
                <div class="item" style="background-image: url({{URL}}/resources/assets/img/sistema/parceiros/parceiro-4.png);"></div>
            </div>
            
        </div>
    </section>
    <!-- <div class="section-separador-parceiros-bottom"></div> -->

    <section class="section section-contato" id="contato">
        <div class="header-section">
            <h2 class="title">Contato</h2>
            <div class="divisor-title" style="background-image: url({{URL}}/resources/assets/img/sistema/divisor-section.png);"></div>
            <p class="subtitle">Alguma dúvida ou recado? entre em contato comigo.</p>
        </div>
        <div class="contato">

        </div>
    </section>


    <div class="contente-btns-whatsapp-volta-topo">
        <div class="btn-whatsapp">
            <button><a href="https://wa.me/5516999657775" target="_blank" class="btn"><i class="fab fa-whatsapp"></i></a></button>
        </div>
        <button class="btn-volta-top">
            <i class="fas fa-chevron-up"></i>
        </button>
    </div>

</main>