<main class="container-principal">

    <section class="section section-home" id="home">
        <div class="background-section background-section-home" style="background-image: linear-gradient(rgba(46, 49, 49, 0.8), rgba(46, 49, 49, 0.8)), url({{URL}}/resources/assets/img/sistema/background-section-home.jpg);">
            <div class="box-titles-btn-acao">
                <div class="titles">
                    <h1 class="title">Soluções em Desenvolvimento Web</h1>
                    <p class="subtitle">Desenvolvimento Web focado em satisfação, agilidade e segurança!</p>
                </div>
                <div class="btn-acao">
                    <button><a href="{{URL}}/orcamento" class="btn-orcamento">orçamento</a></button>
                </div>
            </div>
        </div>
    </section>

    
    <section class="section section-sobre" id="sobre">
        <div class="header-section">
            <h2 class="title">Sobre</h2>
            <div class="divisor-title" style="background-image: url({{URL}}/resources/assets/img/sistema/divisor-section.png);"></div>
            <p class="subtitle">Saiba um pouco mais sobre nós.</p>
        </div>
        <div class="sobre">

            <div class="introducao">
                <div class="box-imagem-ideia">
                    <img src="{{URL}}/resources/assets/img/sistema/ideia.svg" alt="Icone ideia">
                </div>
                <div class="box-iformacoes">
                    <h2 class="title">Desenvolvemos a solução ideial para a sua empresa</h2>
                    <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias itaque, nobis repellat earum nesciunt in reprehenderit adipisci delectus consequuntur autem, officiis culpa ipsam nam. Minima expedita deserunt sit a eligendi? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis vel alias ex in libero consequatur inventore consequuntur quidem recusandae quisquam!</p>
                </div>
            </div>

            <div class="nosso-foco">

                <div class="owl-carousel owl-theme owl-carousel-nosso-foco">
                    <div class="item item-satisfacao" data-hash="satisfacao">
                        <div class="box-icon">
                            <img src="{{URL}}/resources/assets/img/sistema/hands.svg" alt="Icone Satisfação">
                        </div>
                        <div class="box-info">
                            <h3 class="title">Satisfação do cliente</h3>
                            <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>

                    <div class="item item-agilidade" data-hash="agilidade">
                        <div class="box-icon">
                            <img src="{{URL}}/resources/assets/img/sistema/foguete.svg" alt="Icone Satisfação">
                        </div>
                        <div class="box-info">
                            <h3 class="title">Agilidade nos projetos</h3>
                            <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>

                    <div class="item item-seguranca" data-hash="seguranca">
                        <div class="box-icon">
                            <img src="{{URL}}/resources/assets/img/sistema/secure.svg" alt="Icone Satisfação">
                        </div>
                        <div class="box-info">
                            <h3 class="title">Segurança</h3>
                            <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <ul class="links-itens">
                    <li><a class="link-item link-item-satisfacao" href="#satisfacao">Satisfação</a></li>
                    <li><a class="link-item link-item-agilidade" href="#agilidade">Agilidade</a></li>
                    <li><a class="link-item link-item-seguranca" href="#seguranca">Segurança</a></li>
                </ul>
            </div>
            

        </div>
    </section>
    
    {{servicos}}

    <div class="section-separador-parceiros-top"></div>
    <section class="section section-parceiros" id="parceiros">
        <div class="header-section">
            <h2 class="title">Parceiros</h2>
            <div class="divisor-title" style="background-image: url({{URL}}/resources/assets/img/sistema/divisor-section.png);"></div>
            <p class="subtitle">Essas são algumas das empresas que confiam em nossos serviços</p>
        </div>
        <div class="parceiros">
            <div class="owl-carousel owl-theme owl-carousel-parceiros">
                <div class="item" style="background-image: url({{URL}}/resources/assets/img/sistema/parceiros/parceiro-1.png);"></div>
                <div class="item" style="background-image: url({{URL}}/resources/assets/img/sistema/parceiros/parceiro-2.png);"></div>
                <div class="item" style="background-image: url({{URL}}/resources/assets/img/sistema/parceiros/parceiro-3.png);"></div>
                <div class="item" style="background-image: url({{URL}}/resources/assets/img/sistema/parceiros/parceiro-4.png);"></div>
            </div>
            
        </div>
    </section>
    <div class="section-separador-parceiros-bottom"></div>

    <section class="section section-precos" id="precos">
        <div class="header-section">
            <h2 class="title">Preços</h2>
            <div class="divisor-title" style="background-image: url({{URL}}/resources/assets/img/sistema/divisor-section.png);"></div>
            <p class="subtitle">Confira nossos preços.</p>
        </div>
        <div class="precos">

        </div>
    </section>


    <section class="section section-time" id="time">
        <div class="header-section">
            <h2 class="title">Time</h2>
            <div class="divisor-title" style="background-image: url({{URL}}/resources/assets/img/sistema/divisor-section.png);"></div>
            <p class="subtitle">Essa é a nossa equipe.</p>
        </div>
        <div class="time">

        </div>
    </section>

    <section class="section section-contato" id="contato">
        <div class="header-section">
            <h2 class="title">Contato</h2>
            <div class="divisor-title" style="background-image: url({{URL}}/resources/assets/img/sistema/divisor-section.png);"></div>
            <p class="subtitle">Alguma dúvida ou recado? entre em contato conosco.</p>
        </div>
        <div class="contato">

        </div>
    </section>


    <div class="contente-btns-whatsapp-volta-topo">
        <div class="btn-whatsapp">
            <button><a href="https://wa.me/5516999657775" target="_blank" class="btn"><i class="fab fa-whatsapp"></i></a></button>
        </div>
        <button class="btn-volta-top">
            <i class="fas fa-chevron-up"></i>
        </button>
    </div>

</main>